<!DOCTYPE html>
<html lang="en">
<head>
    <title>Аунтефикация</title>
    <link rel="shortcut icon" type="image/png" href="../../static/main/img/A.png">
    <link rel="stylesheet" href="../../static/main/css/layout.css">
    <link rel="stylesheet" href="../../static/main/css/auth.css">
</head>
<body>
    <div id="cap">
        <div class="dropdown" id="menu">
            <img style="top: 0.3vh;" src="../../static/main/img/menu.png">
            <button style="position: absolute;" class="dropbtn"></button>
        </div>
        <a href="" id="logo"><img src="../../static/main/img/Alog.png"></a>
        <div class="dropdown" id="profile" style="background: #FF0100;">
            <span style="position: absolute; margin-left: 23%; top: 1vh; font-style: normal;font-family: 'Inter';">Авторизация</span>
            <button style="top: 0px; position: absolute; width: 15vw; height: 5.8vh; color:black " class="dropbtn"></button>
        </div>
        <a href="" id="bel"><img src="../../static/main/img/bel.png"></a>
    </div>
    <form action="" method="post">
        <input type="tel" id="tel-input" placeholder="Номер телефона" name="us_tel" value="+7 ">
        <input id="password" name="password" type="password" placeholder="Пароль">
        <button id="reg"><a href="./reg.html" style="color: black; text-decoration: none;">Регистрация</a></button>
        <input id="submit" name="submit" type="submit" value="Войти">
    </form>
</body>
<head>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
</head>
</html>