<!DOCTYPE html>
<html lang="en">
<head>
    <title>Регистрация</title>
    <link rel="shortcut icon" type="image/png" href="../../static/main/img/A.png">
    <link rel="stylesheet" href="../../static/main/css/layout.css">
</head>
<body>
    <div id="cap">
        <div class="dropdown" id="menu">
            <img style="top: 0.3vh;" src="../../static/main/img/menu.png">
            <button style="position: absolute;" onclick="myFunction()" class="dropbtn"></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#home" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">ЛИЧНЫЙ КАБИНЕТ</a>
                <hr size=6px width=170vw color="#FF0100">
                <a href="#donate" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">ДОНАТЫ</a>
                <hr size=6px width=170vw color="#FF0100">
                <a href="#config" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">НАСТРОЙКИ ПРОФИЛЯ</a>
                <hr size=6px width=170vw color="#FF0100">
                <a href="#pay" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">ЗАДОНАТИТЬ</a>
            </div>
        </div>
        <a href="" id="logo"><img src="../../static/main/img/Alog.png"></a>
        <div class="dropdown" id="profile">
            <img id="phot_profile" src="../../static/main/img/def_us.png">
            <div id="nick_profile">Name</div>
            <img id="triangle" src="../../static/main/img/triangle.png">
            <button style="position: absolute; width: 15vw; height: 5.8vh" onclick="myFunction2()" class="dropbtn"></button>
            <div id="myDropdown2" class="dropdown-content">
                <a href="#money" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">СЧЕТ</a>
                <hr size=6px width=170vw color="#FF0100">
                <a href="#out" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">ВЫЙТИ</a>
            </div>
        </div>
        <a href="" id="bel"><img src="../../static/main/img/bel.png"></a>
    </div>
</body>
<head>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../static/main/js/func_layout.js"></script>
    <script src="../../static/main/js/func_layout2.js"></script>
</head>
</html>