<!DOCTYPE html>
<html lang="en">
<head>
    <title>Профиль</title>
    <link rel="shortcut icon" type="image/png" href="../../static/main/img/A.png">
    <link rel="stylesheet" href="../../static/main/css/main.css">
    <link rel="stylesheet" href="../../static/main/css/layout.css">
</head>
   <div class="block">
        <div id="picture">
        </div>
        <div id="nickname">
            <strong>XXXX_User_XXX</strong>
        </div>
        <p>
            <ul>
            <h2> Мои ссылки <h2>
            <ul>
            <ul>
                <h2> Мой род деятельности</h2>
                <li> Публицист </li>
                <li> Историк </li>
                <li> Исследователь </li>
                <li> Ценитель </li>
                <li> Филантроп </li>
                <li> Маэстро </li>
            </ul>
        </p>
   </div>
   <form class="decsription">
        <h1> Обо мне <h1>
        <input type="text" id="field">
   </form>
   <div id="cap">
        <div class="dropdown" id="menu">
            <img style="top: 0.3vh;" src="../../static/main/img/menu.png">
            <button style="position: absolute;" onclick="myFunction()" class="dropbtn"></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="./profile.html" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">ЛИЧНЫЙ КАБИНЕТ</a>
                <hr size=6px width=170vw color="#FF0100">
                <a href="./analyt.html" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">ДОНАТЫ</a>
                <hr size=6px width=170vw color="#FF0100">
                <a href="#config" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">НАСТРОЙКИ ПРОФИЛЯ</a>
                <hr size=6px width=170vw color="#FF0100">
                <a href="https://netmonet.co/tip/235850?mterror=not_found_entity" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">ЗАДОНАТИТЬ</a>
            </div>
        </div>
        <a href="" id="logo"><img src="../../static/main/img/Alog.png"></a>
        <div class="dropdown" id="profile">
            <img id="phot_profile" src="../../static/main/img/def_us.png">
            <div id="nick_profile">XXXX_User_XXX</div>
            <img id="triangle" src="../../static/main/img/triangle.png">
            <button style="position: absolute; width: 15vw; height: 5.8vh" onclick="myFunction2()" class="dropbtn"></button>
            <div id="myDropdown2" class="dropdown-content">
                <a href="#money" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">СЧЕТ</a>
                <hr size=6px width=170vw color="#FF0100">
                <a href="./auth.html" style="font-size: 1.9vh; font-family: 'Inter'; text-align: center; font-style: normal;">ВЫЙТИ</a>
            </div>
        </div>
        <a href="" id="bel"><img src="../../static/main/img/bel.png"></a>
    </div>  
</body>
</html>