<!DOCTYPE html>
<html lang="en">
<head>
    <title>Регистрация</title>
    <link rel="shortcut icon" type="image/png" href="../../static/main/img/A.png">
    <link rel="stylesheet" href="../../static/main/css/main.css">
</head>
<body>
    <form action="" method="post">
        <input type="text" id="name-input" placeholder="Имя" name="us_name">
        <input type="text" id="surname-input" placeholder="Фамилия" name="us_surname">
        <input type="tel" id="tel-input" placeholder="Номер телефона" name="us_tel" value="+7 ">
        <input type="text" id="nick-input" placeholder="Никнейм" name="us_nik">
        <input id="password" name="password" type="password" placeholder="Пароль"  >
        <input id="password-check" name="password-check" type="password" placeholder="Подтверждение пароля" title="" >
        <img style="margin-top: 1%; margin-left: 17%; width: 3vw; height: 4vh; position: absolute;" src="../../static/main/img/secur.png">
        <label style="color: #546272; display: block; width: 28vw; position: absolute; margin-left: 23%;">Мы гарантируем безопасность и сохранность ваших данных</label>
        <input id="submit" name="submit" type="submit" value="Создать">
    </form>
</body>
<head>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../static/main/js/func_reg.js"></script>
</head>
</html>